Repository Mai0313/llama-self-hosted, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Module: Callbacks, Module: Data, Module: Models, Module: Utils, Demo/Test/Example: Notebook, Script: CLI, Main: Train, Main: Evaluate, Chore: tests, Config: Callbacks, Config: Data, Config: Debug, Config: Experiment, Config: Extra, Config: hparams_search, Config: hydra, Config: Local, Config: Logger, Config: Model, Config: Paths, Config: Trainer, Config: Main Train, Config: Main Evaluate, Chore: CI/CD Workflow, Chore: CI/CD Config, Chore: Code Style, Chore: Requirements, Data: Update Dataset

chore: remove specific version requirements for dependencies
  requirements.txt
Labels: Chore: Requirements

chore: update torch, torchvision, and torchaudio versions
  requirements.txt
Labels: Chore: Requirements

chore: update pre-commit hooks and dependencies
  .gitignore
  .pre-commit-config.yaml
  .project-root
  requirements.txt
Labels: Chore: Code Style, Chore: Requirements

feat: add FastAPI endpoint and model function for generating responses
  api.py
  src/model.py
  user.py
Labels: none

feat: update model selection and top_k values
  src/model.py
Labels: none

feat: add LLM API integration for prompt completion
  configs/setting.yaml
  playground.py
Labels: none

perf: increase `top_k` value in `generate_response` function
  src/model.py
Labels: none

chore: update requirements.txt with transformers package
  requirements.txt
Labels: Chore: Requirements

.github/labeler.yml:

"Documentation":
- '**/*.md'

"Module: Callbacks":
- src/callbacks/**

"Module: Data":
- src/data/**

"Module: Models":
- src/models/**

"Module: Utils":
- src/utils/**

"Demo/Test/Example: Notebook":
- notebooks/**

"Script: CLI":
- src/configs/**

"Main: Train":
- src/train.py

"Main: Evaluate":
- src/eval.py

"Chore: tests":
- tests/**

"Config: Callbacks":
- configs/callbacks/**

"Config: Data":
- configs/data/**

"Config: Debug":
- configs/debug/**

"Config: Experiment":
- configs/experiment/**

"Config: Extra":
- configs/extra/**

"Config: hparams_search":
- configs/hparams_search/**

"Config: hydra":
- configs/hydra/**

"Config: Local":
- configs/local/**

"Config: Logger":
- configs/logger/**

"Config: Model":
- configs/model/**

"Config: Paths":
- configs/paths/**

"Config: Trainer":
- configs/trainer/**

"Config: Main Train":
- configs/train.yaml

"Config: Main Evaluate":
- configs/eval.yaml

"Chore: CI/CD Workflow":
- .github/workflows/**

"Chore: CI/CD Config":
- .github/**

"Chore: Code Style":
- .pre-commit-config.yaml
- pyproject.toml

"Chore: Requirements":
- requirements.txt

"Data: Update Dataset":
- data.dvc
